<template>
  <div>
    <my-counter begin="1" @inc="inc" @dec="dec"
      >Counter ของผม
      <template v-slot:dec>-</template>
      <template v-slot:inc>
        +
      </template>
    </my-counter>
  </div>
</template>

<script>
import MyCounter from '../components/MyCounter.vue'

export default {
  data () {
    return {}
  },
  methods: {
    inc: function (number) {
      console.log('cointer view inc ' + number)
    },
    dec: function (number) {
      console.log('cointer view dec ' + number)
    }
  },
  components: {
    'my-counter': MyCounter
  }
}
</script>
